name: Guaranteed APK Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Download and Fix Code
      run: |
        # Fresh download - no checkout issues
        wget -q https://github.com/hpi5289-eng/MitalSaftApp/archive/refs/heads/main.zip
        unzip -q main.zip
        cd MitalSaftApp-main
        
        # NUCLEAR FIX: Create new gradlew from scratch
        rm -f gradlew
        echo '#!/bin/sh' > gradlew
        echo 'exec ./gradlew "$@"' >> gradlew
        chmod 755 gradlew
        
        # Go to android folder
        cd android
        rm -f gradlew
        echo '#!/bin/sh' > gradlew
        echo 'export JAVA_HOME=/opt/hostedtoolcache/Java_Temurin-Hotspot_jdk/11.0.29-7/x64' >> gradlew
        echo './gradlew "$@"' >> gradlew
        chmod 755 gradlew
        
        # SIMPLE BUILD
        ./gradlew :app:assembleDebug 2>&1 | tail -50
        
        # Find APK
        find . -name "*.apk" -type f | head -5
